In [1]:
nombre = "maria"
edad = 35
trabajo = "programadora"
altura = 165
pais = "españa"
ciudad = "madrid"

In [2]:
if nombre == "maria" and edad == 35:
    print("Bienvenida Maria")
else:
    print("No eres Maria")

Bienvenida Maria

In [ ]:
# importamos la pandas para poder trabajar en la lección
import pandas as pd

In [ ]:
# Creemos algunas Series en Pandas para entenderlas mejor.
# en este primer ejemplo crearemos una Serie vacía
serie_vacia = pd.Series()
print("mi serie de pandas es:",serie_vacia)
print("los tipos de elementos que la componen son:",serie_vacia.dtype)

In [3]:
# esta Serie esta bien, pero en realidad por lo general queremos tener Series con datos
# creemos ahora una serie a partir de una lista

# definimos la lista
lista = [23, 45, 17, 83, 67]

# convertimos esta lista en una Serie
serie_lista1 = pd.Series(lista)
serie_lista1

0    23
1    45
2    17
3    83
4    67
dtype: int64

In [4]:
# vamos a definir una nueva serie pero en este caso vamos a ponerle nuestro propio índice usando el parámetro 'index'

lista = [23, 45, 17, 83, 67]

serie_lista2 = pd.Series(lista, index = [3,4,5,6,7])
serie_lista2

3    23
4    45
5    17
6    83
7    67
dtype: int64

In [4]:
# definir un diccionario 
dicc = {'lorena' : 10, 
        'marta' : 20, 
        'pilar' : 30, 
        'laura': 50, 
       'ana': 86, 
        'maria': 28} 

# crear una serie nueva a partir del diccionario definido previamente
serie_diccionario = pd.Series(dicc)
serie_diccionario

lorena    10
marta     20
pilar     30
laura     50
ana       86
maria     28
dtype: int64

In [5]:
# definimos una lista de diccionarios que luego usaremos para convertir en DataFrame
data_lista = [
    {'Nombre': 'Ana', 'Edad': 25, 'Ciudad': 'Madrid'},
    {'Nombre': 'Juan', 'Edad': 30, 'Ciudad': 'Barcelona'},
    {'Nombre': 'María', 'Edad': 28, 'Ciudad': 'Valencia'},
    {'Nombre': 'Pedro', 'Edad': 35, 'Ciudad': 'Sevilla'}
]

# usamos el método 'pd.DataFrame' para convertir la lista de diccionarios a DataFrame
df_lista = pd.DataFrame(data_lista)

# mostramos el DataFrame, en este caso usaremos el método '.tail()' para mostrar las últimas 5 filas. 
df_lista.tail()

  Nombre  Edad     Ciudad
0    Ana    25     Madrid
1   Juan    30  Barcelona
2  María    28   Valencia
3  Pedro    35    Sevilla